<div class="container" id="maincontent" tabindex="-1">
  <div class="row  ">
    <div class="col-lg-6 profile col-sm-offset-3" >
      <div class="col-lg-12 imgwd">
        <img class="img-responsive img-rounded" src="img/angular.png" alt="">
      </div>

      <div >
        <h5 class="angular">{{title}}</h5>
        <h5 class="desc">Custom Angular app framework for real applications!</h5>
        <!--<h5 class="desc">by</h5>-->
        <!--<h5 class="name">Mahesha Godekere</h5>-->
        <!--<hr class="star-light">-->
        <!--<a href="https://medium.com/@maheshagodekere"-->
        <!--target="_blank"-->
        <!--class="btn btn-success bm">  <i class="fa fa-medium"></i> <strong>  Read my blog</strong></a>-->
        <!--<div class="ml">-->
        <div class="mb">
          <a href="#"
             target="_blank"
             class="btn btn-social "> <i class="fa fa-globe fa-2x"></i></a>
        </div>
        <hr class="star-primary">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
